*.wdb 
Xil/
mycpu_prj1.cache/
mycpu_prj1.hw/
mycpu_prj1.ip_user_files/
mycpu_prj1.runs/
mycpu_prj1.sim/
*.jou
.txt
*.log
*.backup
*.str
.Xil/
cpu132_gettrace.cache/
cpu132_gettrace.hw/
cpu132_gettrace.ip_user_files/
cpu132_gettrace.runs/
cpu132_gettrace.sim/
